.login{
    position: relative;
    height:100%;
    background:url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg');

    &__gradient{
        width:100%;
        z-index:1;
        height:100vh;
        background: rgba(0, 0, 0, 0.4 );
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8)0,
            rgba(0,0,0,0) 60%,
            rgba(0,0,0,0) 100%
        );
    }
    

    &__logo{
        position:fixed;
        left:0;
        width: 9.375rem;
        object-fit:contain;
        padding:1.25rem;
    }

    &__button{
        position:fixed;
        top:1.25rem;
        right:1.25rem;
        padding: 0.625rem 1.25rem;
        font-size:1rem;
        color:#fff;
        background-color:#e50914;
        font-weight:600;
        border:none;
        cursor:pointer;
    }
}