.navbar{
    position:fixed;
    top:0;
    width:100%;
    padding:1.25rem;
    z-index:1;
    display:flex;
    justify-content:space-between;
    transition-timing-function: ease-in;
    transition:all 0.5s;

    &__black{
        background-color: #111;
    }
    &__logo{
        width:5rem;
        object-fit:contain;
    }

    &__avatar{
        width:1.875rem;
        object-fit:contain;
    }
}