@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../../../assets/fonts/BebasNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../../../assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Bebas Neue Book';
    src: url('../../../assets/fonts/BebasNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Netflix Sans Medium';
    src: url('../../../assets/fonts/BebasNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Netflix Sans Light';
    src: url('../../../assets/fonts/NetflixSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}